.root {
  position: relative;
  
  input {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 400px;
    border-radius: 10px;
    padding: 8px 35px;
    font-size: 16px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, .2);

      .searchIcon {
        color: rgba(0, 0, 0, .8);
      }
    }
  }
  
  .searchIcon {
    font-size: 18px;
    position: absolute;
    left: 12px;
    top: 11px;
    color: rgba(0, 0, 0, .3);
  }
}

.cancelIcon {
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 11px;
  cursor: pointer;
  opacity: .3;

  &:hover {
    opacity: .8;
  }
}